{% extends "layout.html" %}
{% block title %}Device 1{% endblock %}
{% block content %}
	<h1 class="title">Conditions</h1>
	<div class="columns is-multiline">
		<div class="column is-one-half">
				<table class="table is-narrow is-striped is-hoverable">
			
				<tr>
					<th>time</th>
					<th>location</th>
					<th>temperature</th>
					<th>humidity</th>
					<th></th>
				</tr>
			{% for i in range(0,len) %}
				<tr>
					<td>{{ rows[i][0] }}</td>
					<td>{{ rows[i][1] }}</td>
					<td>{{ rows[i][2] }}</td>
					<td>{{ rows[i][3] }}</td>
					<td>
						<a class="button is-small is-danger" href="{{url_for('conditions_remove', time=rows[i][0]) }}">
							<span class="icon is-small is-left">
							  <i class="fa fa-trash"></i>
							</span>
						</a>
					</td>
				</tr>
			{%endfor%} 
			</table>
			<span class="navbar-item">
				<a class="button is-fullwidth" href="{{ url_for('conditions_add_page') }}">Add New</a>
			</span>
		</div>

		
			<div class="column is-one-quarter">
			
			<label class="switch">
			  <input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB">
			  <span class="slider">Auto Refresh</span>
			</label>
			
			<p class="subtitle">Plot Temperature</p>
			<div class="field is-grouped">
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='temperature', scale='all' ) }}">All</a>
				</span>
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='temperature', scale='daily' ) }}">Today</a>
				</span>
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='temperature', scale='hourly' ) }}">Hourly</a>
				</span>
			</div>
		
			<p class="subtitle">Plot Humidity</p>
			<div class="field is-grouped">
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='humidity', scale='all' ) }}">All</a>
				</span>
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='humidity', scale='daily' ) }}">Today</a>
				</span>
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='humidity', scale='hourly' ) }}">Hourly</a>
				</span>
			</div>
			
			<p class="subtitle">Plot Together</p>
			<div class="field is-grouped">
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='together', scale='all' ) }}">All</a>
				</span>
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='together', scale='daily' ) }}">Today</a>
				</span>
				<span class="navbar-item">
						<a class="button" href="{{ url_for('conditions_plot_page', attribute='together', scale='hourly' ) }}">Hourly</a>
				</span>
			</div>
		</div>
		
	</div>
		
	</div>
	
	<script>
		var reloading;

		function checkReloading() {
			if (window.location.hash=="#autoreload") {
				reloading=setTimeout("window.location.reload();", 3*1000);
				document.getElementById("reloadCB").checked=true;
			}
		}

		function toggleAutoRefresh(cb) {
			if (cb.checked) {
				window.location.replace("#autoreload");
				reloading=setTimeout("window.location.reload();", 3*1000);
			} else {
				window.location.replace("#");
				clearTimeout(reloading);
			}
		}

		window.onload=checkReloading;
	</script>
{% endblock %}