<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Add Condition</title>
  </head> 
  <body>
 <h1 class="title">New</h1>

    <form action="" method="post" name="conditions_add">
	
      <div class="field">
        <label for="location" class="label">location</label>
        <div class="control">
          <input type="text" name="location" class="input"/>
        </div>
      </div>
      
      <div class="field">
        <label for="temperature" class="label">temperature</label>
        <div class="control">
          <input type="number" name="temperature" class="input"/>
        </div>
      </div>
	  
	  <div class="field">
        <label for="humidity" class="label">humidity</label>
        <div class="control">
          <input type="number" name="humidity" class="input"/>
        </div>
      </div>
      

      <div>
        <div class="control">
          <button class="button">Add</button>
        </div>
      </div>
    </form>
  </body>
</html>